<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-92.47312</real>
      <key>public.kern2.V</key>
      <real>-135.48389</real>
      <key>public.kern2.Y</key>
      <integer>-200</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-152.68819</real>
      <key>public.kern2.Y</key>
      <real>-217.2043</real>
    </dict>
    <key>M</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-94.62366</real>
    </dict>
    <key>M.BRACKET.varAlt01</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-94.62366</real>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-154.83871</real>
      <key>public.kern2.J</key>
      <real>-103.2258</real>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-156.98924</real>
      <key>public.kern2.Y</key>
      <real>-223.65591</real>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-107.52688</real>
      <key>public.kern2.y</key>
      <real>-92.47312</real>
      <key>w</key>
      <real>-96.7742</real>
      <key>w.BRACKET.varAlt01</key>
      <real>-96.7742</real>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-88.17204</real>
    </dict>
    <key>nine</key>
    <dict>
      <key>six</key>
      <real>-107.52688</real>
    </dict>
    <key>nine.lf</key>
    <dict>
      <key>four.lf</key>
      <real>-129.03226</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-64.51612</real>
      <key>public.kern2.T</key>
      <real>-172.04301</real>
      <key>public.kern2.U</key>
      <real>-64.51612</real>
      <key>public.kern2.V</key>
      <real>-193.54839</real>
      <key>public.kern2.W</key>
      <real>-92.47312</real>
      <key>public.kern2.Y</key>
      <real>-258.06451</real>
      <key>public.kern2.f</key>
      <real>-43.01076</real>
      <key>public.kern2.t</key>
      <real>-43.01076</real>
      <key>public.kern2.v</key>
      <real>-64.51612</real>
      <key>public.kern2.w</key>
      <real>-64.51612</real>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-105.37634</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.X</key>
      <real>-64.51612</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-86.0215</real>
      <key>public.kern2.J</key>
      <real>-86.0215</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-107.52688</real>
      <key>public.kern2.S</key>
      <real>-43.01076</real>
      <key>public.kern2.o</key>
      <real>-96.7742</real>
      <key>public.kern2.w</key>
      <real>-86.0215</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-129.03226</real>
      <key>public.kern2.V</key>
      <real>-376.34409</real>
      <key>public.kern2.W</key>
      <real>-150.53761</real>
      <key>public.kern2.Y</key>
      <real>-172.04301</real>
      <key>public.kern2.f</key>
      <real>-64.51612</real>
      <key>public.kern2.t</key>
      <real>-64.51612</real>
      <key>public.kern2.v</key>
      <real>-64.51612</real>
      <key>public.kern2.w</key>
      <real>-43.01076</real>
      <key>public.kern2.y</key>
      <real>-107.52688</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-32.25806</real>
      <key>public.kern2.Y</key>
      <real>-129.03226</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-64.51612</real>
      <key>public.kern2.M</key>
      <real>-32.25806</real>
      <key>public.kern2.O</key>
      <integer>42</integer>
      <key>public.kern2.T</key>
      <real>-21.50538</real>
      <key>public.kern2.V</key>
      <real>-64.51612</real>
      <key>public.kern2.W</key>
      <real>-32.25806</real>
      <key>public.kern2.X</key>
      <real>-86.0215</real>
      <key>public.kern2.Y</key>
      <real>-129.03226</real>
      <key>public.kern2.Z</key>
      <real>-86.0215</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-21.50538</real>
      <key>public.kern2.Y</key>
      <real>-86.0215</real>
      <key>public.kern2.o</key>
      <real>-64.51612</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-101.07528</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-129.03226</real>
      <key>public.kern2.J</key>
      <real>-172.04301</real>
      <key>public.kern2.O</key>
      <real>-21.50538</real>
      <key>public.kern2.m</key>
      <real>-215.05376</real>
      <key>public.kern2.o</key>
      <real>-215.05376</real>
      <key>public.kern2.u</key>
      <real>-258.06451</real>
      <key>public.kern2.v</key>
      <real>-172.04301</real>
      <key>public.kern2.w</key>
      <real>-172.04301</real>
      <key>public.kern2.x</key>
      <real>-172.04301</real>
      <key>public.kern2.y</key>
      <real>-180.64516</real>
      <key>public.kern2.z</key>
      <real>-172.04301</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-64.51612</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-193.54839</real>
      <key>public.kern2.J</key>
      <real>-251.6129</real>
      <key>public.kern2.M</key>
      <real>-94.62366</real>
      <key>public.kern2.O</key>
      <real>-64.51612</real>
      <key>public.kern2.m</key>
      <real>-137.63441</real>
      <key>public.kern2.o</key>
      <real>-172.04301</real>
      <key>public.kern2.u</key>
      <real>-120.4301</real>
      <key>public.kern2.z</key>
      <real>-88.17204</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-92.47312</real>
      <key>public.kern2.O</key>
      <real>-32.25806</real>
      <key>public.kern2.o</key>
      <real>-64.51612</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-86.0215</real>
      <key>public.kern2.v</key>
      <real>-92.47312</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-258.06451</real>
      <key>public.kern2.J</key>
      <real>-389.24731</real>
      <key>public.kern2.M</key>
      <real>-129.03226</real>
      <key>public.kern2.O</key>
      <real>-86.0215</real>
      <key>public.kern2.S</key>
      <real>-101.07528</real>
      <key>public.kern2.m</key>
      <real>-215.05376</real>
      <key>public.kern2.o</key>
      <real>-301.07526</real>
      <key>public.kern2.t</key>
      <real>-116.12904</real>
      <key>public.kern2.u</key>
      <real>-225.80646</real>
      <key>public.kern2.v</key>
      <real>-146.23656</real>
      <key>public.kern2.w</key>
      <real>-150.53761</real>
      <key>public.kern2.x</key>
      <real>-174.19354</real>
      <key>public.kern2.y</key>
      <real>-146.23656</real>
      <key>public.kern2.z</key>
      <real>-193.54839</real>
    </dict>
    <key>public.kern1.guilsinglright</key>
    <dict>
      <key>public.kern2.guilsinglright</key>
      <real>-129.03226</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-43.01076</real>
      <key>public.kern2.s</key>
      <real>-43.01076</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.o</key>
      <real>43.01076</real>
      <key>public.kern2.x</key>
      <real>-21.50538</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-540</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.f</key>
      <real>64.51612</real>
      <key>public.kern2.t</key>
      <real>64.51612</real>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.x</key>
      <real>-43.01076</real>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-43.01076</real>
      <key>public.kern2.s</key>
      <real>-43.01076</real>
    </dict>
    <key>seven.lf</key>
    <dict>
      <key>eight.lf</key>
      <real>-64.51612</real>
      <key>five.lf</key>
      <real>-64.51612</real>
      <key>four.lf</key>
      <real>-258.06451</real>
      <key>nine.lf</key>
      <real>-64.51612</real>
      <key>six.lf</key>
      <real>-215.05376</real>
      <key>three.lf</key>
      <real>-64.51612</real>
      <key>two.lf</key>
      <real>-43.01076</real>
      <key>zero.lf</key>
      <real>-64.51612</real>
    </dict>
  </dict>
</plist>
